@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
   
}
body{
    background-image: linear-gradient(to right,#DED1FF,#826FB3);
}
main{
    background-color: white;
    border-right: 10px;
    box-shadow: 5px 5px 15px rgba(151, 129, 123, 0.644);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
color: #B39992;
text-align: center;
text-shadow: 1px 1px 2px #91bb87c0
}
h2{
color:#FFD1C4;
}
p{
    text-align: justify;
}